# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Backups
*.sql
backup/
dumps/

# Docker volumes data (if using bind mounts)
data/
pgdata/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.pytest_cache/
fastapi_app.egg-info/
fastapi_app/__pycache__/
fastapi_app/app/__pycache__/
fastapi_app/app/crud/__pycache__/
fastapi_app/app/database/__pycache__/
fastapi_app/app/models/__pycache__/
fastapi_app/app/routers/__pycache__/
fastapi_app/app/schemas/__pycache__/
fastapi_app/tests/__pycache__/


# Node
node_modules/
dist/
build/
.npm/

# backup
backup.sql


